In [375]:
import numpy as np
import pandas as pd
import os
from natsort import natsorted
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
import matplotlib.pyplot as plt

In [495]:
Path

'/Users/mohan/Downloads/Activity Recognition/Activity_Folder'

In [581]:
Path="/Users/mohan/Downloads/Activity Recognition/Activity_Folder"
P=Path+"/bending2/dataset4.csv"
C=pd.read_csv(P,skiprows=4,)

In [582]:
C.columns

Index(['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13',
       'avg_rss23', 'var_rss23'],
      dtype='object')

In [583]:

Path="/Users/mohan/Downloads/Activity Recognition/Activity_Folder"
P=Path+"/bending2/dataset4.csv"
C=pd.read_csv(P,skiprows=4,)
K=pd.DataFrame(columns=C.columns)
for items in C['# Columns: time']:
    L=(((items.split(' ')[0:-1])))
    L=[float(i) for i in L]
    f=pd.Series(L,index=K.columns)
    K=K.append(f,ignore_index=True)

In [584]:
K

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0.0,32.50,0.50,0.00,0.00,19.00,1.00
1,250.0,32.50,0.50,0.00,0.00,18.50,0.50
2,500.0,32.75,0.43,1.00,0.00,18.00,0.00
3,750.0,32.50,0.50,0.00,0.00,17.50,0.50
4,1000.0,32.50,0.50,7.50,0.50,17.50,0.87
...,...,...,...,...,...,...,...
475,118750.0,28.67,0.47,4.67,1.25,17.33,0.47
476,119000.0,27.50,0.50,5.50,2.50,17.25,1.30
477,119250.0,28.00,0.00,6.67,0.94,17.00,1.00
478,119500.0,28.00,0.00,5.00,0.82,17.00,0.71
479,119750.0,28.00,0.00,0.00,0.00,17.00,1.00

In [585]:
def dataframe_creation(P):
    C=pd.read_csv(P,skiprows=4,)
    K=pd.DataFrame(columns=C.columns)
    for items in C['# Columns: time']:
        L=(((items.split(' ')[0:-1])))
        L=[float(i) for i in L]
        f=pd.Series(L,index=K.columns)
        K=K.append(f,ignore_index=True)
    return K

In [553]:
K

     avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
0        32.50       0.50       0.00       0.00      19.00       1.00
1        32.50       0.50       0.00       0.00      18.50       0.50
2        32.75       0.43       1.00       0.00      18.00       0.00
3        32.50       0.50       0.00       0.00      17.50       0.50
4        32.50       0.50       7.50       0.50      17.50       0.87
..         ...        ...        ...        ...        ...        ...
475      28.67       0.47       4.67       1.25      17.33       0.47
476      27.50       0.50       5.50       2.50      17.25       1.30
477      28.00       0.00       6.67       0.94      17.00       1.00
478      28.00       0.00       5.00       0.82      17.00       0.71
479      28.00       0.00       0.00       0.00      17.00       1.00

[480 rows x 6 columns]

In [579]:
feature_form(K,'bending2')

ValueError: Length of passed values is 36, index implies 43

In [376]:
Path="/Users/mohan/Downloads/Activity Recognition/Activity_Folder"
file_directory=os.listdir(Path)
for f in file_directory:
    print(f)

bending1
bending2
cycling
lying
sitting
standing
walking

In [35]:
f='bending1'
print("/Users/mohan/Downloads/Activity Recognition/Activity_Folder/"+f)

/Users/mohan/Downloads/Activity Recognition/Activity_Folder/bending1

In [50]:
training_list=[]
testing_list=[]
print('Dataset details are as follows:')
for f in file_directory:
    print(f)
    Path2="/Users/mohan/Downloads/Activity Recognition/Activity_Folder/"+f
    j=os.listdir(Path2)
    print(natsorted(j))

Dataset details are as follows:
bending1
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv']
bending2
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv']
cycling
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']
lying
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']
sitting
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']
standing
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']
walking
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

In [377]:
print('Dataset details are as follows:')
for f in file_directory:
    print(f)
    Path2="/Users/mohan/Downloads/Activity Recognition/Activity_Folder/"+f
    j=os.listdir(Path2)
    sorted_list=natsorted(j)
    M=['bending1','bending2']
    if f in M:
        print('Testing set files for '+f+' are:')
        print(sorted_list[:2])
        print('Training set files for '+f+' are:')
        print(sorted_list[2:])
        print('\n')
    else:
        print('Testing set files for '+f+' are:')
        print(sorted_list[:3])
        print('Training set files for '+f+' are:')
        print(sorted_list[3:])
        print('\n')

Dataset details are as follows:
bending1
Testing set files for bending1 are:
['dataset1.csv', 'dataset2.csv']
Training set files for bending1 are:
['dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv']


bending2
Testing set files for bending2 are:
['dataset1.csv', 'dataset2.csv']
Training set files for bending2 are:
['dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv']


cycling
Testing set files for cycling are:
['dataset1.csv', 'dataset2.csv', 'dataset3.csv']
Training set files for cycling are:
['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']


lying
Testing set files for lying are:
['dataset1.csv', 'dataset2.csv', 'dataset3.csv']
Training set files for lying are:
['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']


sitting
Testing set files for sitting are:
['dataset1.csv', 'dataset2.csv', 'dataset3.csv']
Training set files for sitting are:
['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']


standing
Testing set files for standing are:
['dataset1.csv', 'dataset2.csv', 'dataset3.csv']
Training set files for standing are:
['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']


walking
Testing set files for walking are:
['dataset1.csv', 'dataset2.csv', 'dataset3.csv']
Training set files for walking are:
['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

In [595]:
def feature_dataframe():
    feature_columns=[]
    feature_count=7
    check_list=[None]*feature_count
    for f in range(1,7):
        f=str(f)
        check_list[0]='min'+f
        check_list[1]='max'+f
        check_list[2]='mean'+f
        check_list[3]='median'+f
        check_list[4]='std_dev'+f
        check_list[5]='1stquart'+f
        check_list[6]='3rdquart'+f
        feature_columns.extend(check_list)
    feature_columns.append('label')
    return feature_columns

columns_df=feature_dataframe()
feature_df=pd.DataFrame(columns=columns_df)

In [596]:
feature_df.columns

Index(['min1', 'max1', 'mean1', 'median1', 'std_dev1', '1stquart1',
       '3rdquart1', 'min2', 'max2', 'mean2', 'median2', 'std_dev2',
       '1stquart2', '3rdquart2', 'min3', 'max3', 'mean3', 'median3',
       'std_dev3', '1stquart3', '3rdquart3', 'min4', 'max4', 'mean4',
       'median4', 'std_dev4', '1stquart4', '3rdquart4', 'min5', 'max5',
       'mean5', 'median5', 'std_dev5', '1stquart5', '3rdquart5', 'min6',
       'max6', 'mean6', 'median6', 'std_dev6', '1stquart6', '3rdquart6',
       'label'],
      dtype='object')

In [597]:
feature_df

Empty DataFrame
Columns: [min1, max1, mean1, median1, std_dev1, 1stquart1, 3rdquart1, min2, max2, mean2, median2, std_dev2, 1stquart2, 3rdquart2, min3, max3, mean3, median3, std_dev3, 1stquart3, 3rdquart3, min4, max4, mean4, median4, std_dev4, 1stquart4, 3rdquart4, min5, max5, mean5, median5, std_dev5, 1stquart5, 3rdquart5, min6, max6, mean6, median6, std_dev6, 1stquart6, 3rdquart6, label]
Index: []

[0 rows x 43 columns]

In [566]:
for f in file_directory:
    Path2="/Users/mohan/Downloads/Activity Recognition/Activity_Folder/"+f
    j=os.listdir(Path2)
    sorted_list=natsorted(j)
    M=['bending1','bending2']
    if f in M:
        for items in sorted_list[:2]:
            df_path=Path2+'/'+items
            if f=='bending2' and items=='dataset4.csv':
                df=dataframe_creation(df_path)
            else:
                df=pd.read_csv(df_path,skiprows=4)
            FF=feature_form(df,f)
            feature_df=feature_df.append(FF,ignore_index=True)
    else:
        for items in sorted_list[:3]:
            df_path=Path2+'/'+items
            df=pd.read_csv(df_path,skiprows=4)
            FF=feature_form(df,f)
            feature_df=feature_df.append(FF,ignore_index=True)

In [567]:
test_df=feature_df
test_df

,min1,max1,mean1,median1,std_dev1,1stquart1,3rdquart1,min2,max2,mean2,...,1stquart5,3rdquart5,min6,max6,mean6,median6,std_dev6,1stquart6,3rdquart6,label
0,37.25,45.00,40.624792,40.500,1.476967,39.2500,42.0000,0.0,1.30,0.358604,...,33.0000,36.0000,0.0,1.92,0.570583,0.430,0.582915,0.0000,1.300,bending1
1,38.00,45.67,42.812812,42.500,1.435550,42.0000,43.6700,0.0,1.22,0.372437,...,32.0000,34.5000,0.0,3.11,0.571083,0.430,0.601010,0.0000,1.300,bending1
2,12.75,51.00,24.562958,24.250,3.737514,23.1875,26.5000,0.0,6.87,0.590833,...,20.5000,27.0000,0.0,4.97,0.700188,0.500,0.693720,0.4300,0.870,bending2
3,0.00,42.75,27.464604,28.000,3.583582,25.5000,30.0000,0.0,7.76,0.449708,...,15.0000,20.7500,0.0,6.76,1.122125,0.830,1.012342,0.4700,1.300,bending2
4,24.25,45.00,37.177042,36.250,3.581301,34.5000,40.2500,0.0,8.58,2.374208,...,17.9500,21.7500,0.0,9.34,2.921729,2.500,1.852600,1.5000,3.900,cycling
5,28.75,44.75,37.561187,36.875,3.226507,35.2500,40.2500,0.0,9.91,2.080687,...,18.0000,21.5000,0.0,9.62,2.765896,2.450,1.769203,1.4100,3.770,cycling
6,22.00,44.67,37.058708,36.000,3.710180,34.5000,40.0625,0.0,14.17,2.438146,...,16.0000,21.0000,0.0,8.55,2.983750,2.570,1.815730,1.5000,4.150,cycling
7,23.50,30.00,27.716375,27.500,1.442253,27.0000,29.0000,0.0,1.79,0.363687,...,5.5000,10.7500,0.0,4.50,0.734271,0.710,0.613688,0.4300,1.000,lying
8,24.75,48.33,44.182937,48.000,7.495615,48.0000,48.0000,0.0,3.11,0.101875,...,2.0000,5.5425,0.0,3.91,0.692771,0.500,0.675781,0.3225,0.940,lying
9,48.00,48.25,48.004167,48.000,0.032038,48.0000,48.0000,0.0,0.43,0.007167,...,4.6700,10.0000,0.0,2.50,0.641229,0.500,0.388372,0.4600,0.830,lying
10,33.25,48.00,42.363563,43.000,2.068247,42.0000,43.5000,0.0,4.44,0.492563,...,10.1875,17.6900,0.0,6.02,1.034021,0.830,0.985627,0.4700,1.250,sitting
11,37.00,50.75,45.917667,45.635,1.089027,45.0000,46.5000,0.0,4.87,0.324542,...,16.5000,21.0000,0.0,7.22,0.904604,0.710,0.896171,0.4300,1.120,sitting
12,44.50,46.75,45.239667,45.000,0.429915,45.0000,45.3300,0.0,1.00,0.172958,...,17.6275,21.0000,0.0,8.20,0.837250,0.710,0.835344,0.4300,1.120,sitting
13,33.33,48.00,44.334729,45.000,2.476940,42.2500,46.5000,0.0,3.90,0.432958,...,9.3300,17.7500,0.0,5.02,0.933000,0.830,0.673609,0.4700,1.250,standing
14,35.50,46.25,43.174938,43.670,1.989052,42.5000,44.5000,0.0,2.12,0.506583,...,12.7500,16.5000,0.0,5.72,0.911979,0.830,0.666161,0.4700,1.220,standing
15,32.75,47.00,42.760562,44.500,3.398919,41.3300,45.3725,0.0,3.34,0.486167,...,13.0000,18.5650,0.0,5.73,0.842271,0.710,0.722165,0.4300,1.090,standing
16,19.33,43.50,34.227771,35.500,4.889576,30.5000,37.7500,0.0,14.50,3.995729,...,14.7500,18.6700,0.0,9.74,3.394125,3.100,1.792090,2.1050,4.425,walking
17,12.50,45.00,33.509729,34.125,4.850923,30.5000,36.7500,0.0,13.05,4.450771,...,14.6275,18.7500,0.0,8.96,3.378479,3.085,1.787360,2.0600,4.440,walking
18,15.00,46.75,34.660583,35.000,5.315110,31.0000,38.2500,0.0,13.44,4.200896,...,14.2500,18.5000,0.0,8.99,3.244396,3.000,1.630983,2.1200,4.240,walking

In [589]:
def feature_form(df,label):
    df=df.drop(df.columns[:][0],axis=1)
    feature_values=[]
    column_features=[None]*7
    for columns in df.columns[:]:
        column_features[0]=np.min(df[columns])
        column_features[1]=np.max(df[columns])
        column_features[2]=np.mean(df[columns])
        column_features[3]=np.median(df[columns])
        column_features[4]=df[columns].std()
        column_features[5]=np.percentile(df[columns],25)
        column_features[6]=np.percentile(df[columns],75)
        feature_values.extend(column_features)
    feature_values.append(label)
    f=pd.Series(feature_values,index=feature_df.columns)
    return f

In [598]:
for f in file_directory:
    Path2="/Users/mohan/Downloads/Activity Recognition/Activity_Folder/"+f
    print(f)
    j=os.listdir(Path2)
    sorted_list=natsorted(j)
    M=['bending1','bending2']
    if f in M:
        for items in sorted_list[2:]:
            df_path=Path2+'/'+items
            if f=='bending2' and items=='dataset4.csv':
                df=dataframe_creation(df_path)
            else:
                df=pd.read_csv(df_path,skiprows=4)
            FF=feature_form(df,f)
            feature_df=feature_df.append(FF,ignore_index=True)
    else:
        for items in sorted_list[3:]:
            df_path=Path2+'/'+items
            df=pd.read_csv(df_path,skiprows=4)
            FF=feature_form(df,f)
            feature_df=feature_df.append(FF,ignore_index=True)

bending1
bending2
cycling
lying
sitting
standing
walking

In [599]:
train_df=feature_df

In [601]:
train_df

,min1,max1,mean1,median1,std_dev1,1stquart1,3rdquart1,min2,max2,mean2,...,1stquart5,3rdquart5,min6,max6,mean6,median6,std_dev6,1stquart6,3rdquart6,label
0,35.00,47.40,43.954500,44.33,1.558835,43.00,45.0000,0.0,1.70,0.426250,...,35.3625,36.50,0.00,1.79,0.493292,0.43,0.513506,0.0000,0.9400,bending1
1,33.00,47.75,42.179812,43.50,3.670666,39.15,45.0000,0.0,3.00,0.696042,...,30.4575,36.33,0.00,2.18,0.613521,0.50,0.524317,0.0000,1.0000,bending1
2,33.00,45.75,41.678063,41.75,2.243490,41.33,42.7500,0.0,2.83,0.535979,...,28.4575,31.25,0.00,1.79,0.383292,0.43,0.389164,0.0000,0.5000,bending1
3,37.00,48.00,43.454958,43.25,1.386098,42.50,45.0000,0.0,1.58,0.378083,...,22.2500,24.00,0.00,5.26,0.679646,0.50,0.622534,0.4300,0.8700,bending1
4,36.25,48.00,43.969125,44.50,1.618364,43.31,44.6700,0.0,1.50,0.413125,...,20.5000,23.75,0.00,2.96,0.555312,0.49,0.487826,0.0000,0.8300,bending1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,19.50,45.33,33.586875,34.25,4.650935,30.25,37.0000,0.0,14.67,4.576562,...,13.7300,18.25,0.00,8.32,3.259729,3.11,1.640243,2.0500,4.3225,walking
65,19.75,45.50,34.322750,35.25,4.752477,31.00,38.0000,0.0,13.47,4.456333,...,13.5000,17.75,0.00,9.67,3.432563,3.20,1.732727,2.1575,4.5650,walking
66,19.50,46.00,34.546229,35.25,4.842294,31.25,37.8125,0.0,12.47,4.371958,...,14.0000,17.75,0.00,10.00,3.338125,3.08,1.656742,2.1600,4.3350,walking
67,23.50,46.25,34.873229,35.25,4.531720,31.75,38.2500,0.0,14.82,4.380583,...,13.7500,18.00,0.00,9.51,3.424646,3.27,1.690960,2.1700,4.5000,walking
68,19.25,44.00,34.473188,35.00,4.796705,31.25,38.0000,0.0,13.86,4.359312,...,13.7300,17.75,0.43,9.00,3.340458,3.09,1.699114,2.1200,4.3750,walking

In [602]:
print('training dataframe shape is:',train_df.shape)
print('test dataframe shape is:',test_df.shape)

training dataframe shape is: (69, 43)
test dataframe shape is: (19, 43)

# Here the labels are strings therefore one hot encoding

In [603]:
#entire_df=train_df.append(test_df)
le=LabelEncoder()
train_df['label']=le.fit_transform(train_df['label'])
train_df['label'].unique()

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [604]:
le.inverse_transform(train_df['label'].unique())

array(['bending1', 'bending2', 'cycling', 'lying', 'sitting', 'standing',
       'walking'], dtype=object)

In [605]:
test_df['label']=le.fit_transform(test_df['label'])
test_df['label'].unique()

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [606]:
train_df.columns

Index(['min1', 'max1', 'mean1', 'median1', 'std_dev1', '1stquart1',
       '3rdquart1', 'min2', 'max2', 'mean2', 'median2', 'std_dev2',
       '1stquart2', '3rdquart2', 'min3', 'max3', 'mean3', 'median3',
       'std_dev3', '1stquart3', '3rdquart3', 'min4', 'max4', 'mean4',
       'median4', 'std_dev4', '1stquart4', '3rdquart4', 'min5', 'max5',
       'mean5', 'median5', 'std_dev5', '1stquart5', '3rdquart5', 'min6',
       'max6', 'mean6', 'median6', 'std_dev6', '1stquart6', '3rdquart6',
       'label'],
      dtype='object')

# Mean, Median and Standard Deviation are selected as desired features

In [607]:
final_excluded=[]
excluded_features=['min','max','1stquart','3rdquart']
for columns in train_df.columns:
    columns=str(columns)
    for features in excluded_features:
        if columns.startswith(features):
            final_excluded.append(columns)

In [608]:
print('Excluded features of the training and testing dataframe is:')
print(final_excluded)

Excluded features of the training and testing dataframe is:
['min1', 'max1', '1stquart1', '3rdquart1', 'min2', 'max2', '1stquart2', '3rdquart2', 'min3', 'max3', '1stquart3', '3rdquart3', 'min4', 'max4', '1stquart4', '3rdquart4', 'min5', 'max5', '1stquart5', '3rdquart5', 'min6', 'max6', '1stquart6', '3rdquart6']

In [609]:
train_df=train_df.drop(columns=[features for features in final_excluded],axis=1)
test_df=test_df.drop(columns=[features for features in final_excluded],axis=1)
print('Training dataframe shape after feature selection is:',train_df.shape)
print('testing dataframe shape after feature selection is:',test_df.shape)

Training dataframe shape after feature selection is: (69, 19)
testing dataframe shape after feature selection is: (19, 19)

In [610]:
train_df

,mean1,median1,std_dev1,mean2,median2,std_dev2,mean3,median3,std_dev3,mean4,median4,std_dev4,mean5,median5,std_dev5,mean6,median6,std_dev6,label
0,43.954500,44.33,1.558835,0.426250,0.470,0.338690,22.122354,23.000,3.030943,0.497312,0.43,0.550657,35.588458,36.00,1.999604,0.493292,0.43,0.513506,0
1,42.179812,43.50,3.670666,0.696042,0.500,0.630860,22.183625,23.000,3.810469,0.989917,0.83,0.953730,33.493917,35.00,3.849448,0.613521,0.50,0.524317,0
2,41.678063,41.75,2.243490,0.535979,0.500,0.405469,19.006563,19.125,4.087107,0.841875,0.50,0.928801,29.857083,30.00,2.411026,0.383292,0.43,0.389164,0
3,43.454958,43.25,1.386098,0.378083,0.470,0.315566,15.793333,15.000,3.847638,0.849354,0.50,0.995761,23.034792,23.50,2.488862,0.679646,0.50,0.622534,0
4,43.969125,44.50,1.618364,0.413125,0.470,0.263111,15.868021,16.250,3.742420,0.666354,0.47,0.788985,22.103750,21.67,3.318301,0.555312,0.49,0.487826,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,33.586875,34.25,4.650935,4.576562,4.260,2.461077,15.317854,15.330,2.970440,3.227229,3.10,1.647474,15.892146,16.00,3.283983,3.259729,3.11,1.640243,6
65,34.322750,35.25,4.752477,4.456333,3.900,2.599284,15.209771,15.250,2.711022,3.277229,3.11,1.500046,15.550458,15.75,3.119856,3.432563,3.20,1.732727,6
66,34.546229,35.25,4.842294,4.371958,4.135,2.360448,15.185729,15.250,2.757604,3.028687,2.86,1.665184,15.759542,15.75,2.823124,3.338125,3.08,1.656742,6
67,34.873229,35.25,4.531720,4.380583,3.925,2.435437,15.471188,15.500,2.813077,3.205688,3.03,1.519348,15.873896,16.00,3.131076,3.424646,3.27,1.690960,6
68,34.473188,35.00,4.796705,4.359312,3.960,2.388746,15.424708,15.500,2.802066,3.188271,3.03,1.602504,15.704167,16.00,3.156320,3.340458,3.09,1.699114,6

# Drawing a scatter plot for bending vs other activities with the selected features

Scatter plot for binary classification bending1 vs other activities. Here bending1 is encoded as 0 and the rest in the range of (1,6). For binary classification problem, bending1 is encoded as 1, and the rest as 1.

In [611]:
binary_labels=[]
for labels in train_df['label']:
    if labels in range(1,7):
        binary_labels.append(1)
    else:
        binary_labels.append(labels)

In [612]:
binary_df=train_df
binary_df['label']=binary_labels

In [613]:
binary_df

,mean1,median1,std_dev1,mean2,median2,std_dev2,mean3,median3,std_dev3,mean4,median4,std_dev4,mean5,median5,std_dev5,mean6,median6,std_dev6,label
0,43.954500,44.33,1.558835,0.426250,0.470,0.338690,22.122354,23.000,3.030943,0.497312,0.43,0.550657,35.588458,36.00,1.999604,0.493292,0.43,0.513506,0
1,42.179812,43.50,3.670666,0.696042,0.500,0.630860,22.183625,23.000,3.810469,0.989917,0.83,0.953730,33.493917,35.00,3.849448,0.613521,0.50,0.524317,0
2,41.678063,41.75,2.243490,0.535979,0.500,0.405469,19.006563,19.125,4.087107,0.841875,0.50,0.928801,29.857083,30.00,2.411026,0.383292,0.43,0.389164,0
3,43.454958,43.25,1.386098,0.378083,0.470,0.315566,15.793333,15.000,3.847638,0.849354,0.50,0.995761,23.034792,23.50,2.488862,0.679646,0.50,0.622534,0
4,43.969125,44.50,1.618364,0.413125,0.470,0.263111,15.868021,16.250,3.742420,0.666354,0.47,0.788985,22.103750,21.67,3.318301,0.555312,0.49,0.487826,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,33.586875,34.25,4.650935,4.576562,4.260,2.461077,15.317854,15.330,2.970440,3.227229,3.10,1.647474,15.892146,16.00,3.283983,3.259729,3.11,1.640243,1
65,34.322750,35.25,4.752477,4.456333,3.900,2.599284,15.209771,15.250,2.711022,3.277229,3.11,1.500046,15.550458,15.75,3.119856,3.432563,3.20,1.732727,1
66,34.546229,35.25,4.842294,4.371958,4.135,2.360448,15.185729,15.250,2.757604,3.028687,2.86,1.665184,15.759542,15.75,2.823124,3.338125,3.08,1.656742,1
67,34.873229,35.25,4.531720,4.380583,3.925,2.435437,15.471188,15.500,2.813077,3.205688,3.03,1.519348,15.873896,16.00,3.131076,3.424646,3.27,1.690960,1
68,34.473188,35.00,4.796705,4.359312,3.960,2.388746,15.424708,15.500,2.802066,3.188271,3.03,1.602504,15.704167,16.00,3.156320,3.340458,3.09,1.699114,1

In [614]:
binary_df['label'].value_counts()

1    64
0     5
Name: label, dtype: int64

In [615]:
binary_df[:7]

,mean1,median1,std_dev1,mean2,median2,std_dev2,mean3,median3,std_dev3,mean4,median4,std_dev4,mean5,median5,std_dev5,mean6,median6,std_dev6,label
0,43.954500,44.33,1.558835,0.426250,0.47,0.338690,22.122354,23.000,3.030943,0.497312,0.43,0.550657,35.588458,36.000,1.999604,0.493292,0.43,0.513506,0
1,42.179812,43.50,3.670666,0.696042,0.50,0.630860,22.183625,23.000,3.810469,0.989917,0.83,0.953730,33.493917,35.000,3.849448,0.613521,0.50,0.524317,0
2,41.678063,41.75,2.243490,0.535979,0.50,0.405469,19.006563,19.125,4.087107,0.841875,0.50,0.928801,29.857083,30.000,2.411026,0.383292,0.43,0.389164,0
3,43.454958,43.25,1.386098,0.378083,0.47,0.315566,15.793333,15.000,3.847638,0.849354,0.50,0.995761,23.034792,23.500,2.488862,0.679646,0.50,0.622534,0
4,43.969125,44.50,1.618364,0.413125,0.47,0.263111,15.868021,16.250,3.742420,0.666354,0.47,0.788985,22.103750,21.670,3.318301,0.555312,0.49,0.487826,0
5,32.586208,33.00,6.238143,0.516125,0.43,0.789957,13.941625,14.250,5.883266,0.868896,0.50,1.027013,20.345708,19.585,5.032424,1.162042,0.83,1.332980,1
6,29.881938,30.00,1.153837,0.256437,0.00,0.275833,8.166250,8.750,3.403613,0.544646,0.47,0.644369,18.117896,18.000,1.745970,0.701625,0.71,0.481103,1

In [416]:
X_train=np.array(binary_df.drop(columns='label',axis=1))
y_train=np.array(binary_df['label'])

In [622]:
LL=pd.concat([df1,df2],axis=1)

In [626]:
LL['index']

0     35
1     36
2     37
3     38
4     39
5     40
6     41
7     42
8     43
9     44
10    45
11    46
12    47
13    48
14    49
15    50
16    51
17    52
18    53
19    54
20    55
21    56
22    57
23    58
24    59
25    60
26    61
27    62
28    63
29    64
30    65
31    66
32    67
33    68
Name: index, dtype: int64

In [617]:
df1=binary_df[0:int(binary_df.shape[0]/2)]
df2=binary_df[int(binary_df.shape[0]/2)+1:]

In [619]:
df2=df2.reset_index()

In [627]:
df2

,index,mean1,median1,std_dev1,mean2,median2,std_dev2,mean3,median3,std_dev3,mean4,median4,std_dev4,mean5,median5,std_dev5,mean6,median6,std_dev6,label
0,35,32.905979,30.250,3.505776,0.456750,0.000,0.538783,16.305917,18.500,5.164883,0.664792,0.470,0.768114,18.087229,19.250,3.736307,0.791354,0.710,0.755739,1
1,36,38.888375,36.750,3.642901,0.383438,0.430,0.488937,14.854167,15.000,3.926922,0.654271,0.470,0.708297,16.522021,17.750,4.978530,0.840208,0.820,0.750636,1
2,37,42.821983,42.500,0.891818,0.335678,0.430,0.260357,17.199708,18.000,3.898006,0.531190,0.430,0.763926,16.025658,17.000,4.112285,0.856013,0.820,0.764801,1
3,38,43.190854,42.500,1.230345,0.266271,0.430,0.271588,14.858313,15.000,4.727836,0.510208,0.470,0.542697,16.043167,16.000,3.027169,0.806229,0.820,0.645476,1
4,39,40.219271,39.250,2.741217,0.617479,0.500,0.485417,14.851229,16.000,4.929224,0.872229,0.495,0.988865,15.167271,15.250,5.313753,1.057729,0.830,1.025925,1
5,40,43.884833,45.250,3.198894,0.517354,0.500,0.394064,14.997375,15.000,5.621781,1.047688,0.820,1.097028,14.920542,15.875,5.258598,1.354917,1.090,1.150883,1
6,41,42.111583,42.000,1.122245,0.341938,0.470,0.295805,11.442250,12.000,4.539665,0.889396,0.500,1.072168,12.973917,13.290,4.847545,0.961167,0.820,0.882784,1
7,42,42.282667,41.500,1.356149,0.498354,0.500,0.147984,9.469542,10.000,5.313780,0.899646,0.820,0.836194,12.537187,12.000,6.039797,0.869000,0.820,0.794213,1
8,43,42.360188,42.000,1.017372,0.482500,0.500,0.246389,12.884542,12.750,4.012884,0.620062,0.470,0.747947,15.260438,13.250,6.466786,0.719812,0.500,0.608546,1
9,44,42.728854,43.250,2.046362,0.555333,0.500,0.382544,15.823646,16.500,4.879743,0.758271,0.470,0.907715,16.408938,17.670,4.293969,0.892083,0.710,0.851175,1
10,45,42.648521,42.750,2.395338,0.402833,0.430,0.413719,18.129292,18.500,2.850422,0.467979,0.430,0.687213,12.060417,12.290,3.141679,0.917354,0.830,0.709638,1
11,46,43.720021,45.000,2.384105,0.366708,0.430,0.374117,17.010271,17.750,2.712219,0.544333,0.430,0.743740,13.198271,13.750,3.289138,1.039687,0.830,0.916657,1
12,47,44.471146,45.000,1.772553,0.290479,0.000,0.392914,17.948542,18.500,2.513796,0.566250,0.430,0.700981,13.210083,13.000,2.612390,0.927375,0.830,0.756436,1
13,48,46.224938,46.000,1.748315,0.312354,0.000,0.464541,15.031687,15.585,4.313438,0.598500,0.470,0.679233,13.394021,13.500,2.931581,0.882583,0.830,0.668423,1
14,49,46.932208,47.500,1.832665,0.429667,0.500,0.367267,16.847854,18.000,2.617513,0.535438,0.430,0.713323,13.281875,13.670,3.134822,0.991125,0.830,0.855329,1
15,50,45.399625,45.500,1.328121,0.460146,0.500,0.269889,17.671396,18.000,1.745801,0.441312,0.430,0.478166,12.428542,13.125,3.374095,0.795104,0.820,0.503007,1
16,51,42.419917,42.670,2.520129,0.460562,0.470,0.387405,16.320542,16.750,2.466757,0.749896,0.500,0.667631,10.067750,9.750,3.722074,1.226271,1.090,0.891988,1
17,52,42.516958,42.500,2.195751,0.440687,0.470,0.349430,13.218729,13.500,4.735349,0.799938,0.500,0.867768,14.639750,15.000,3.623557,0.977417,0.830,0.853280,1
18,53,42.959354,42.670,1.500878,0.352875,0.470,0.313585,11.780438,12.000,3.021746,0.564187,0.470,0.638179,14.946021,15.250,2.702605,0.748479,0.820,0.461152,1
19,54,42.674583,43.670,2.384170,0.419167,0.470,0.368383,12.110708,12.670,3.556720,0.567500,0.430,0.718364,14.247458,14.500,3.261617,0.702042,0.500,0.567451,1
20,55,43.187521,44.750,2.491162,0.271271,0.000,0.328807,12.728104,12.710,3.859887,0.642708,0.470,0.677273,18.201437,18.250,3.566038,0.645458,0.500,0.567419,1
21,56,44.441187,45.000,2.417797,0.346604,0.430,0.358113,13.356271,13.500,2.955021,0.645583,0.470,0.718203,12.611542,12.750,3.414454,1.155083,0.940,0.842087,1
22,57,35.193333,36.000,4.751868,4.321021,3.880,2.625516,15.462229,15.670,3.114222,3.072854,2.860,1.508714,16.101208,16.330,3.207642,3.241958,3.015,1.769182,1
23,58,34.763333,35.290,4.742208,4.223792,3.900,2.278004,15.239021,15.330,2.920829,3.207062,3.000,1.590472,16.299563,16.250,3.174681,3.288271,3.270,1.647528,1
24,59,34.935812,35.500,4.645944,4.115750,3.845,2.335243,15.524521,15.500,2.900248,3.092792,2.870,1.503446,15.997229,16.250,3.192058,3.280021,3.015,1.700918,1
25,60,34.333042,34.750,4.948770,4.396958,3.900,2.568680,15.562896,15.500,2.967741,3.198313,2.930,1.676271,15.864437,16.000,3.000493,3.261583,2.980,1.617290,1
26,61,34.599875,35.125,4.731790,4.398833,4.025,2.538521,15.173667,15.000,3.036746,3.145500,3.015,1.591346,16.055563,16.000,2.905688,3.289542,3.015,1.680170,1
27,62,34.225875,34.750,4.441798,4.354500,3.900,2.518991,15.606479,15.500,2.812274,3.365375,3.030,1.730792,16.148000,16.250,2.992920,3.479542,3.270,1.761146,1
28,63,34.253521,35.000,4.940741,4.457896,4.150,2.387192,15.246292,15.250,2.960901,3.279146,3.100,1.759379,15.716083,15.750,3.116627,3.500750,3.285,1.692378,1
29,64,33.586875,34.250,4.650935,4.576562,4.260,2.461077,15.317854,15.330,2.970440,3.227229,3.100,1.647474,15.892146,16.000,3.283983,3.259729,3.110,1.640243,1
30,65,34.322750,35.250,4.752477,4.456333,3.900,2.599284,15.209771,15.250,2.711022,3.277229,3.110,1.500046,15.550458,15.750,3.119856,3.432563,3.200,1.732727,1
31,66,34.546229,35.250,4.842294,4.371958,4.135,2.360448,15.185729,15.250,2.757604,3.028687,2.860,1.665184,15.759542,15.750,2.823124,3.338125,3.080,1.656742,1
32,67,34.873229,35.250,4.531720,4.380583,3.925,2.435437,15.471188,15.500,2.813077,3.205688,3.030,1.519348,15.873896,16.000,3.131076,3.424646,3.270,1.690960,1
33,68,34.473188,35.000,4.796705,4.359312,3.960,2.388746,15.424708,15.500,2.802066,3.188271,3.030,1.602504,15.704167,16.000,3.156320,3.340458,3.090,1.699114,1

In [459]:
pd.concat([df1,df2],axis=1,).shape

(68, 38)

In [453]:
df2

,mean1,median1,std_dev1,mean2,median2,std_dev2,mean3,median3,std_dev3,mean4,median4,std_dev4,mean5,median5,std_dev5,mean6,median6,std_dev6,label
35,32.905979,30.250,3.505776,0.456750,0.000,0.538783,16.305917,18.500,5.164883,0.664792,0.470,0.768114,18.087229,19.250,3.736307,0.791354,0.710,0.755739,1
36,38.888375,36.750,3.642901,0.383438,0.430,0.488937,14.854167,15.000,3.926922,0.654271,0.470,0.708297,16.522021,17.750,4.978530,0.840208,0.820,0.750636,1
37,42.821983,42.500,0.891818,0.335678,0.430,0.260357,17.199708,18.000,3.898006,0.531190,0.430,0.763926,16.025658,17.000,4.112285,0.856013,0.820,0.764801,1
38,43.190854,42.500,1.230345,0.266271,0.430,0.271588,14.858313,15.000,4.727836,0.510208,0.470,0.542697,16.043167,16.000,3.027169,0.806229,0.820,0.645476,1
39,40.219271,39.250,2.741217,0.617479,0.500,0.485417,14.851229,16.000,4.929224,0.872229,0.495,0.988865,15.167271,15.250,5.313753,1.057729,0.830,1.025925,1
40,43.884833,45.250,3.198894,0.517354,0.500,0.394064,14.997375,15.000,5.621781,1.047688,0.820,1.097028,14.920542,15.875,5.258598,1.354917,1.090,1.150883,1
41,42.111583,42.000,1.122245,0.341938,0.470,0.295805,11.442250,12.000,4.539665,0.889396,0.500,1.072168,12.973917,13.290,4.847545,0.961167,0.820,0.882784,1
42,42.282667,41.500,1.356149,0.498354,0.500,0.147984,9.469542,10.000,5.313780,0.899646,0.820,0.836194,12.537187,12.000,6.039797,0.869000,0.820,0.794213,1
43,42.360188,42.000,1.017372,0.482500,0.500,0.246389,12.884542,12.750,4.012884,0.620062,0.470,0.747947,15.260438,13.250,6.466786,0.719812,0.500,0.608546,1
44,42.728854,43.250,2.046362,0.555333,0.500,0.382544,15.823646,16.500,4.879743,0.758271,0.470,0.907715,16.408938,17.670,4.293969,0.892083,0.710,0.851175,1
45,42.648521,42.750,2.395338,0.402833,0.430,0.413719,18.129292,18.500,2.850422,0.467979,0.430,0.687213,12.060417,12.290,3.141679,0.917354,0.830,0.709638,1
46,43.720021,45.000,2.384105,0.366708,0.430,0.374117,17.010271,17.750,2.712219,0.544333,0.430,0.743740,13.198271,13.750,3.289138,1.039687,0.830,0.916657,1
47,44.471146,45.000,1.772553,0.290479,0.000,0.392914,17.948542,18.500,2.513796,0.566250,0.430,0.700981,13.210083,13.000,2.612390,0.927375,0.830,0.756436,1
48,46.224938,46.000,1.748315,0.312354,0.000,0.464541,15.031687,15.585,4.313438,0.598500,0.470,0.679233,13.394021,13.500,2.931581,0.882583,0.830,0.668423,1
49,46.932208,47.500,1.832665,0.429667,0.500,0.367267,16.847854,18.000,2.617513,0.535438,0.430,0.713323,13.281875,13.670,3.134822,0.991125,0.830,0.855329,1
50,45.399625,45.500,1.328121,0.460146,0.500,0.269889,17.671396,18.000,1.745801,0.441312,0.430,0.478166,12.428542,13.125,3.374095,0.795104,0.820,0.503007,1
51,42.419917,42.670,2.520129,0.460562,0.470,0.387405,16.320542,16.750,2.466757,0.749896,0.500,0.667631,10.067750,9.750,3.722074,1.226271,1.090,0.891988,1
52,42.516958,42.500,2.195751,0.440687,0.470,0.349430,13.218729,13.500,4.735349,0.799938,0.500,0.867768,14.639750,15.000,3.623557,0.977417,0.830,0.853280,1
53,42.959354,42.670,1.500878,0.352875,0.470,0.313585,11.780438,12.000,3.021746,0.564187,0.470,0.638179,14.946021,15.250,2.702605,0.748479,0.820,0.461152,1
54,42.674583,43.670,2.384170,0.419167,0.470,0.368383,12.110708,12.670,3.556720,0.567500,0.430,0.718364,14.247458,14.500,3.261617,0.702042,0.500,0.567451,1
55,43.187521,44.750,2.491162,0.271271,0.000,0.328807,12.728104,12.710,3.859887,0.642708,0.470,0.677273,18.201437,18.250,3.566038,0.645458,0.500,0.567419,1
56,44.441187,45.000,2.417797,0.346604,0.430,0.358113,13.356271,13.500,2.955021,0.645583,0.470,0.718203,12.611542,12.750,3.414454,1.155083,0.940,0.842087,1
57,35.193333,36.000,4.751868,4.321021,3.880,2.625516,15.462229,15.670,3.114222,3.072854,2.860,1.508714,16.101208,16.330,3.207642,3.241958,3.015,1.769182,1
58,34.763333,35.290,4.742208,4.223792,3.900,2.278004,15.239021,15.330,2.920829,3.207062,3.000,1.590472,16.299563,16.250,3.174681,3.288271,3.270,1.647528,1
59,34.935812,35.500,4.645944,4.115750,3.845,2.335243,15.524521,15.500,2.900248,3.092792,2.870,1.503446,15.997229,16.250,3.192058,3.280021,3.015,1.700918,1
60,34.333042,34.750,4.948770,4.396958,3.900,2.568680,15.562896,15.500,2.967741,3.198313,2.930,1.676271,15.864437,16.000,3.000493,3.261583,2.980,1.617290,1
61,34.599875,35.125,4.731790,4.398833,4.025,2.538521,15.173667,15.000,3.036746,3.145500,3.015,1.591346,16.055563,16.000,2.905688,3.289542,3.015,1.680170,1
62,34.225875,34.750,4.441798,4.354500,3.900,2.518991,15.606479,15.500,2.812274,3.365375,3.030,1.730792,16.148000,16.250,2.992920,3.479542,3.270,1.761146,1
63,34.253521,35.000,4.940741,4.457896,4.150,2.387192,15.246292,15.250,2.960901,3.279146,3.100,1.759379,15.716083,15.750,3.116627,3.500750,3.285,1.692378,1
64,33.586875,34.250,4.650935,4.576562,4.260,2.461077,15.317854,15.330,2.970440,3.227229,3.100,1.647474,15.892146,16.000,3.283983,3.259729,3.110,1.640243,1
65,34.322750,35.250,4.752477,4.456333,3.900,2.599284,15.209771,15.250,2.711022,3.277229,3.110,1.500046,15.550458,15.750,3.119856,3.432563,3.200,1.732727,1
66,34.546229,35.250,4.842294,4.371958,4.135,2.360448,15.185729,15.250,2.757604,3.028687,2.860,1.665184,15.759542,15.750,2.823124,3.338125,3.080,1.656742,1
67,34.873229,35.250,4.531720,4.380583,3.925,2.435437,15.471188,15.500,2.813077,3.205688,3.030,1.519348,15.873896,16.000,3.131076,3.424646,3.270,1.690960,1
68,34.473188,35.000,4.796705,4.359312,3.960,2.388746,15.424708,15.500,2.802066,3.188271,3.030,1.602504,15.704167,16.000,3.156320,3.340458,3.090,1.699114,1

In [421]:
plt.scatter(X_train,)

TypeError: scatter() missing 1 required positional argument: 'y'

In [402]:
binary_df.columns

Index(['mean1', 'median1', 'std_dev1', 'mean2', 'median2', 'std_dev2', 'mean3',
       'median3', 'std_dev3', 'mean4', 'median4', 'std_dev4', 'mean5',
       'median5', 'std_dev5', 'mean6', 'median6', 'std_dev6', 'label'],
      dtype='object')

In [171]:
kk=(path2+'/'+'dataset1.csv')
df=pd.read_csv(kk,skiprows=4)
df=df.drop(df.columns[:][0],axis=1)

In [314]:
def feature_form(df,label):
    df=df.drop(df.columns[:][0],axis=1)
    feature_values=[]
    column_features=[None]*7
    for columns in df.columns[:]:
        column_features[0]=np.min(df[columns])
        column_features[1]=np.max(df[columns])
        column_features[2]=np.mean(df[columns])
        column_features[3]=np.median(df[columns])
        column_features[4]=df[columns].std()
        column_features[5]=np.percentile(df[columns],25)
        column_features[6]=np.percentile(df[columns],75)
        feature_values.extend(column_features)
    feature_values.append(label)
    f=pd.Series(feature_values,index=feature_df.columns)
    return f

In [174]:
df.shape

(480, 6)

In [185]:
f='bending1'
path2=("/Users/mohan/Downloads/Activity Recognition/Activity_Folder/"+f)
print(path2)
j=os.listdir(path2)
print(len(j))
for fi in j:
    kk=(path2+'/'+fi)
    df=pd.read_csv(kk,skiprows=4)
    df=df.drop(df.columns[:][0],axis=1)
    feature_values=[]
    column_features=[None]*7
    for columns in df.columns[:]:
        column_features[0]=np.min(df[columns])
        column_features[1]=np.max(df[columns])
        column_features[2]=np.mean(df[columns])
        column_features[3]=np.median(df[columns])
        column_features[4]=df[columns].std()
        column_features[5]=np.percentile(df[columns],25)
        column_features[6]=np.percentile(df[columns],75)
        feature_values.extend(column_features)
    f=pd.Series(feature_values,index=feature_df.columns)
    feature_df=feature_df.append(f,ignore_index=True)

/Users/mohan/Downloads/Activity Recognition/Activity_Folder/bending1
7

In [186]:
feature_df

,min1,max1,mean1,median1,std_dev1,1stquart1,3rdquart1,min2,max2,mean2,...,std_dev5,1stquart5,3rdquart5,min6,max6,mean6,median6,std_dev6,1stquart6,3rdquart6
0,37.25,45.00,40.624792,40.50,1.476967,39.25,42.00,0.0,1.30,0.358604,...,2.188449,33.0000,36.00,0.0,1.92,0.570583,0.43,0.582915,0.00,1.30
1,38.00,45.67,42.812812,42.50,1.435550,42.00,43.67,0.0,1.22,0.372437,...,1.995255,32.0000,34.50,0.0,3.11,0.571083,0.43,0.601010,0.00,1.30
2,35.00,47.40,43.954500,44.33,1.558835,43.00,45.00,0.0,1.70,0.426250,...,1.999604,35.3625,36.50,0.0,1.79,0.493292,0.43,0.513506,0.00,0.94
3,33.00,47.75,42.179812,43.50,3.670666,39.15,45.00,0.0,3.00,0.696042,...,3.849448,30.4575,36.33,0.0,2.18,0.613521,0.50,0.524317,0.00,1.00
4,33.00,45.75,41.678063,41.75,2.243490,41.33,42.75,0.0,2.83,0.535979,...,2.411026,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.00,0.50
5,37.00,48.00,43.454958,43.25,1.386098,42.50,45.00,0.0,1.58,0.378083,...,2.488862,22.2500,24.00,0.0,5.26,0.679646,0.50,0.622534,0.43,0.87
6,36.25,48.00,43.969125,44.50,1.618364,43.31,44.67,0.0,1.50,0.413125,...,3.318301,20.5000,23.75,0.0,2.96,0.555312,0.49,0.487826,0.00,0.83
7,37.25,45.00,40.624792,40.50,1.476967,39.25,42.00,0.0,1.30,0.358604,...,2.188449,33.0000,36.00,0.0,1.92,0.570583,0.43,0.582915,0.00,1.30
8,38.00,45.67,42.812812,42.50,1.435550,42.00,43.67,0.0,1.22,0.372437,...,1.995255,32.0000,34.50,0.0,3.11,0.571083,0.43,0.601010,0.00,1.30
9,35.00,47.40,43.954500,44.33,1.558835,43.00,45.00,0.0,1.70,0.426250,...,1.999604,35.3625,36.50,0.0,1.79,0.493292,0.43,0.513506,0.00,0.94
10,33.00,47.75,42.179812,43.50,3.670666,39.15,45.00,0.0,3.00,0.696042,...,3.849448,30.4575,36.33,0.0,2.18,0.613521,0.50,0.524317,0.00,1.00
11,33.00,45.75,41.678063,41.75,2.243490,41.33,42.75,0.0,2.83,0.535979,...,2.411026,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.00,0.50
12,37.00,48.00,43.454958,43.25,1.386098,42.50,45.00,0.0,1.58,0.378083,...,2.488862,22.2500,24.00,0.0,5.26,0.679646,0.50,0.622534,0.43,0.87
13,36.25,48.00,43.969125,44.50,1.618364,43.31,44.67,0.0,1.50,0.413125,...,3.318301,20.5000,23.75,0.0,2.96,0.555312,0.49,0.487826,0.00,0.83

In [155]:
def feature_dataframe():
    feature_columns=[]
    feature_count=7
    check_list=[None]*feature_count
    for f in range(1,7):
        f=str(f)
        check_list[0]='min'+f
        check_list[1]='max'+f
        check_list[2]='mean'+f
        check_list[3]='median'+f
        check_list[4]='std_dev'+f
        check_list[5]='1stquart'+f
        check_list[6]='3rdquart'+f
        feature_columns.extend(check_list)
    return feature_columns

columns_df=feature_dataframe()
feature_df=pd.DataFrame(columns=columns_df)

In [162]:
columns_df=feature_dataframe()
feature_df=pd.DataFrame(columns=columns_df)

In [149]:
len(feature_df.columns[:])

42

In [159]:
feature_df

Empty DataFrame
Columns: [min1, max1, mean1, median1, std_dev1, 1stquart1, 3rdquart1, min2, max2, mean2, median2, std_dev2, 1stquart2, 3rdquart2, min3, max3, mean3, median3, std_dev3, 1stquart3, 3rdquart3, min4, max4, mean4, median4, std_dev4, 1stquart4, 3rdquart4, min5, max5, mean5, median5, std_dev5, 1stquart5, 3rdquart5, min6, max6, mean6, median6, std_dev6, 1stquart6, 3rdquart6]
Index: []

[0 rows x 42 columns]

In [ ]:
feature_df=pd.DataFrame(columns=['min1','max1'])

In [160]:
feature_values=[]
column_features=[None]*7
for columns in df.columns[:]:
    column_features[0]=np.min(df[columns])
    column_features[1]=np.max(df[columns])
    column_features[2]=np.mean(df[columns])
    column_features[3]=np.median(df[columns])
    column_features[4]=df[columns].std()
    column_features[5]=np.percentile(df[columns],25)
    column_features[6]=np.percentile(df[columns],75)
    feature_values.extend(column_features)
f=pd.Series(feature_values,index=feature_df.columns)
feature_df.append(f,ignore_index=True)

In [161]:
f=pd.Series(feature_values,index=feature_df.columns)
feature_df.append(f,ignore_index=True)

,min1,max1,mean1,median1,std_dev1,1stquart1,3rdquart1,min2,max2,mean2,...,std_dev5,1stquart5,3rdquart5,min6,max6,mean6,median6,std_dev6,1stquart6,3rdquart6
0,36.25,48.0,43.969125,44.5,1.618364,43.31,44.67,0.0,1.5,0.413125,...,3.318301,20.5,23.75,0.0,2.96,0.555312,0.49,0.487826,0.0,0.83

In [121]:
df['avg_rss13'].std()

3.742420208682372

In [63]:
pd.read_csv("/Users/mohan/Downloads/Activity Recognition/Activity_Folder/bending1/dataset1.csv",skiprows=4)

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.25,0.43,22.75,0.43,33.75,1.3
1,250,39.25,0.43,23.00,0.00,33.00,0.0
2,500,39.25,0.43,23.25,0.43,33.00,0.0
3,750,39.50,0.50,23.00,0.71,33.00,0.0
4,1000,39.50,0.50,24.00,0.00,33.00,0.0
...,...,...,...,...,...,...,...
475,118750,43.33,0.47,25.00,0.00,30.00,0.0
476,119000,43.50,0.50,25.50,0.50,30.00,0.0
477,119250,43.50,0.50,24.75,0.43,30.00,0.0
478,119500,43.50,0.50,24.33,0.47,30.00,0.0
479,119750,43.50,0.50,24.25,0.43,30.00,0.0

In [ ]:
for f in file_directory:
    Path2="/Users/mohan/Downloads/Activity Recognition/Activity_Folder/"+f
    j=os.listdir(Path2)
    sorted_list=natsorted(j)
    M=['bending1','bending2']
    if f in M:
        for items in sorted_list[:2]:
            df_path=Path2+'/'+items
            if f=='bending2' and items=='dataset4.csv':
                df=dataframe_creation(df_path)
            else:
                df=pd.read_csv(df_path,skiprows=4)
            FF=feature_form(df,f)
            feature_df=feature_df.append(FF,ignore_index=True)
    else:
        for items in sorted_list[:3]:
            df_path=Path2+'/'+items
            df=pd.read_csv(df_path,skiprows=4)
            FF=feature_form(df,f)
            feature_df=feature_df.append(FF,ignore_index=True)

In [632]:
L=K.drop('# Columns: time',axis=1)

In [680]:
kj=np.array_split(L,4)

In [768]:
def dataframe_division(df,l):
    divided=np.array_split(df,l)
    for i in range(len(divided)):
        items=divided[i]
        items=items.reset_index()
        items=items.drop('index',axis=1)
        divided[i]=items
    final_df=pd.concat([items for items in divided],axis=1)
    return final_df

In [784]:
def feature_form(df,label):
    #df=df.drop(df.columns[:][0],axis=1)
    feature_values=[]
    length=len(df.columns)
    print('l:',length)
    column_features=[None]*3
    for columns in df.columns:
        column_features[0]=np.mean(df[columns])
        #print(column_features[0][1])
        column_features[1]=np.median(df[columns])
        column_features[2]=np.std(df[columns])
        feature_values.extend(column_features)
    feature_values.append(label)
    #print((feature_values))
    f=pd.Series(feature_values,index=list(range(3*length)).append('label'))
    return f

In [765]:
c='mohan'

In [783]:
for columns in m.columns:
    print(columns)

avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23
avg_rss12
var_rss12
avg_rss13
var_rss13
avg_rss23
var_rss23

In [756]:
feature_df2=pd.DataFrame(columns=j)

In [757]:
feature_df2

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 361 columns]

In [787]:
feature_df2.append(n,ignore_index=True)

,0,1,2,3,4,5,6,7,8,9,...,352,353,354,355,356,357,358,359,label,360
0,avg_rss12 32.180833 avg_rss12 31.156667 ...,30.0,avg_rss12 0.418618 avg_rss12 0.377256 av...,var_rss12 0.469167 var_rss12 0.531667 va...,0.0,var_rss12 0.172986 var_rss12 0.135759 va...,avg_rss13 4.492917 avg_rss13 6.062500 ...,8.75,avg_rss13 3.563871 avg_rss13 3.249210 av...,var_rss13 0.885833 var_rss13 0.662083 va...,...,0.47,var_rss13 1.029040 var_rss13 0.633528 va...,avg_rss23 17.451250 avg_rss23 18.205000 ...,18.0,avg_rss23 0.806217 avg_rss23 0.328862 av...,var_rss23 0.530000 var_rss23 0.292500 va...,0.71,var_rss23 0.378010 var_rss23 0.257103 va...,NaN,bending2

In [701]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [769]:
m=dataframe_division(L,20)

In [785]:
n=feature_form(m,'bending2')

l: 120

In [786]:
for items in n:

0      avg_rss12    32.180833
avg_rss12    31.156667
...
1                                                     30
2      avg_rss12    0.418618
avg_rss12    0.377256
av...
3      var_rss12    0.469167
var_rss12    0.531667
va...
4                                                      0
                             ...
356    avg_rss23    0.806217
avg_rss23    0.328862
av...
357    var_rss23    0.530000
var_rss23    0.292500
va...
358                                                 0.71
359    var_rss23    0.378010
var_rss23    0.257103
va...
360                                             bending2
Length: 361, dtype: object

In [681]:
for items in kj:
    print(items.shape)

(120, 6)
(120, 6)
(120, 6)
(120, 6)

In [688]:
L

     avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
0        32.50       0.50       0.00       0.00      19.00       1.00
1        32.50       0.50       0.00       0.00      18.50       0.50
2        32.75       0.43       1.00       0.00      18.00       0.00
3        32.50       0.50       0.00       0.00      17.50       0.50
4        32.50       0.50       7.50       0.50      17.50       0.87
..         ...        ...        ...        ...        ...        ...
475      28.67       0.47       4.67       1.25      17.33       0.47
476      27.50       0.50       5.50       2.50      17.25       1.30
477      28.00       0.00       6.67       0.94      17.00       1.00
478      28.00       0.00       5.00       0.82      17.00       0.71
479      28.00       0.00       0.00       0.00      17.00       1.00

[480 rows x 6 columns]

In [682]:
for i in range(len(kj)):
    items=kj[i]
    items=items.reset_index()
    items=items.drop('index',axis=1)
    kj[i]=items

In [665]:
kj[1]=kj[1].reset_index()
kj[1]=kj[1].drop('index',axis=1)
kj[2]=kj[2].reset_index()
kj[2]=kj[2].drop('index',axis=1)

In [678]:
kj[3]

     avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
360      29.00       0.00      12.00       0.00      15.75       0.43
361      29.67       0.47      12.00       0.00      16.67       1.25
362      29.50       0.50      12.00       0.00      16.67       0.94
363      29.00       0.00      12.33       0.47      17.50       0.50
364      29.00       0.00      12.75       0.43      17.75       0.43
..         ...        ...        ...        ...        ...        ...
475      28.67       0.47       4.67       1.25      17.33       0.47
476      27.50       0.50       5.50       2.50      17.25       1.30
477      28.00       0.00       6.67       0.94      17.00       1.00
478      28.00       0.00       5.00       0.82      17.00       0.71
479      28.00       0.00       0.00       0.00      17.00       1.00

[120 rows x 6 columns]

In [686]:
pd.concat([items for items in kj],axis=1)

,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,avg_rss12,var_rss12,avg_rss13,var_rss13,...,avg_rss13,var_rss13,avg_rss23,var_rss23,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,32.50,0.50,0.00,0.00,19.00,1.00,30.00,0.00,11.50,0.50,...,5.00,0.00,17.00,1.00,29.00,0.00,12.00,0.00,15.75,0.43
1,32.50,0.50,0.00,0.00,18.50,0.50,30.00,0.00,12.00,0.00,...,5.00,0.71,16.50,0.50,29.67,0.47,12.00,0.00,16.67,1.25
2,32.75,0.43,1.00,0.00,18.00,0.00,30.00,0.00,10.75,0.83,...,6.00,0.00,16.50,0.50,29.50,0.50,12.00,0.00,16.67,0.94
3,32.50,0.50,0.00,0.00,17.50,0.50,30.00,0.00,11.33,0.47,...,6.25,0.43,16.00,1.00,29.00,0.00,12.33,0.47,17.50,0.50
4,32.50,0.50,7.50,0.50,17.50,0.87,30.00,0.00,9.25,1.48,...,6.25,0.43,15.75,0.83,29.00,0.00,12.75,0.43,17.75,0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,30.33,0.47,11.33,0.94,19.50,1.12,29.67,0.47,6.75,0.43,...,12.00,0.00,19.00,0.82,28.67,0.47,4.67,1.25,17.33,0.47
116,30.33,0.47,12.75,0.83,18.33,1.70,29.25,0.43,6.50,0.50,...,11.00,1.00,18.50,0.50,27.50,0.50,5.50,2.50,17.25,1.30
117,30.00,0.00,14.00,0.82,18.25,0.43,29.00,0.00,6.25,0.83,...,7.50,0.50,18.25,0.43,28.00,0.00,6.67,0.94,17.00,1.00
118,30.00,0.00,12.00,0.00,17.33,0.47,29.00,0.00,6.00,0.00,...,4.25,2.28,18.25,0.43,28.00,0.00,5.00,0.82,17.00,0.71
119,30.00,0.00,12.00,0.00,15.00,0.82,29.25,0.43,5.50,0.50,...,11.00,1.22,17.50,0.50,28.00,0.00,0.00,0.00,17.00,1.00

In [685]:
def dataframe_division(df):
    df=df.drop('# Columns: time',axis=1)